.checkbox{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-right: 5px;
    width: 22px;
    min-width: 22px;
    height: 22px;
    border: none;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 25%;
}

.checkbox_checked{
    background-image: url('../../images/checkbox_active.svg');
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .checkbox{
      width: 18px;
      min-width: 18px;
      height: 18px;
    }
  }